DEBUG=True

ASSETS_ROOT=/static/assets

SERVER=eddie.cosylab.at

SECRET_KEY=YOUR_GENERATED_SECRET_KEY

# TimescaleDB settings
DB_ENGINE=timescale

TIMESCALEDB_NAME=timescale
TIMESCALEDB_USERNAME=postgres
TIMESCALEDB_PASSWORD=eddie
TIMESCALEDB_HOST=localhost
TIMESCALEDB_PORT=5432

# Docker Compose-specific variables for TimescaleDB
POSTGRES_DB=timescale
POSTGRES_USER=postgres
POSTGRES_PASSWORD=eddie

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=eddie

# --- MQTT ---
# Option A:
MQTT_HOST=YOUR_MQTT_HOST
MQTT_PORT=5101
MQTT_USERNAME=YOUR_MQTT_USERNAME
MQTT_PASSWORD=YOUR_MQTT_PASSWORD

MQTT_TOPIC=aiida/v1/#
# Filter **
MQTT_CONNECTION_IDS=*
MQTT_PERMISSION_IDS=*

# Sinapsi Alfa
DATA_SOURCE_IT_SINAPSI_ALFA_MQTT_USERNAME=YOUR_SINAPSI_ALFA_MQTT_USERNAME
DATA_SOURCE_IT_SINAPSI_ALFA_MQTT_PASSWORD=YOUR_SINAPSI_ALFA_MQTT_PASSWORD

# External Services
PREDICTION_API_URL=http://prediction_service:5001/predict
ENTSOE_API_URL=http://eddie_entsoe_integration:8000/api/emission-series
KAFKA_CONSUMER_GROUP_ID=kafka-client-group_TEST
SASL_USERNAME=YOUR_KAFKA_USERNAME
SASL_PASSWORD=YOUR_KAFKA_PASSWORD
BOOTSTRAP_SERVERS=YOUR_KAFKA_BOOTSTRAP_SERVERS
